openapi: 3.2.0
info:
  title: Betfair Exchange API (API-NG) Heartbeat API
  description: OpenAPI description of the request/response HTTP surface of the Betfair Exchange API (API-NG).
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Betfair Developer Program Terms
    url: https://developer.betfair.com/
servers:
- url: https://api.betfair.com/exchange
  description: Betfair Exchange API-NG (Betting, Accounts, Heartbeat)
security:
- appKey: []
  sessionToken: []
tags:
- name: Heartbeat
  description: HeartbeatAPING - dead man's switch that cancels unmatched bets.
paths:
  /heartbeat/rest/v1.0/heartbeat/:
    post:
      operationId: heartbeat
      tags:
      - Heartbeat
      summary: Heartbeat (dead man's switch)
      description: Registers a heartbeat with a preferred timeout (seconds). If Betfair does not receive a subsequent heartbeat within the timeout it will cancel the customer's unmatched bets. Preferred timeout is clamped between 10 and 300 seconds; a value of 0 disables the switch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - preferredTimeoutSeconds
              properties:
                preferredTimeoutSeconds:
                  type: integer
                  minimum: 0
                  maximum: 300
      responses:
        '200':
          description: Heartbeat report.
          content:
            application/json:
              schema:
                type: object
                properties:
                  actionPerformed:
                    type: string
                    enum:
                    - NONE
                    - CANCELLATION_REQUEST_SUBMITTED
                    - ALL_BETS_CANCELLED
                    - SOME_BETS_NOT_CANCELLED
                    - BETS_CANCELLATION_FAILED
                  actualTimeoutSeconds:
                    type: integer
        default:
          $ref: '#/components/responses/BettingError'
components:
  schemas:
    ApiError:
      type: object
      description: Betfair APINGException / AccountAPINGException envelope. In JSON-RPC the error is returned under the JSON-RPC "error" member; in REST it is the HTTP 400 body.
      properties:
        faultcode:
          type: string
        faultstring:
          type: string
        detail:
          type: object
          properties:
            APINGException:
              type: object
              properties:
                errorCode:
                  type: string
                  enum:
                  - TOO_MUCH_DATA
                  - INVALID_INPUT_DATA
                  - INVALID_SESSION_INFORMATION
                  - NO_APP_KEY
                  - NO_SESSION
                  - INVALID_APP_KEY
                  - TOO_MANY_REQUESTS
                  - SERVICE_BUSY
                  - TIMEOUT_ERROR
                  - INVALID_JSON
                  - ACCESS_DENIED
                errorDetails:
                  type: string
                requestUUID:
                  type: string
  responses:
    BettingError:
      description: Betting API error. REST returns HTTP 400 with an APINGException whose errorCode explains the failure (e.g. INVALID_SESSION_INFORMATION, INVALID_APP_KEY, TOO_MUCH_DATA, INVALID_INPUT_DATA).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
  securitySchemes:
    appKey:
      type: apiKey
      in: header
      name: X-Application
      description: The developer Application Key (delayed or live).
    sessionToken:
      type: apiKey
      in: header
      name: X-Authentication
      description: The session token (ssoid) obtained from identity SSO login.
