openapi: 3.2.0
info:
  title: Betfair Exchange API (API-NG) Identity API
  description: OpenAPI description of the request/response HTTP surface of the Betfair Exchange API (API-NG).
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Betfair Developer Program Terms
    url: https://developer.betfair.com/
servers:
- url: https://api.betfair.com/exchange
  description: Betfair Exchange API-NG (Betting, Accounts, Heartbeat)
security:
- appKey: []
  sessionToken: []
tags:
- name: Identity
  description: Session login, keep-alive, and logout via Betfair identity SSO.
paths:
  /login:
    post:
      operationId: login
      tags:
      - Identity
      summary: Interactive login (obtain a session token)
      description: 'Interactive login against Betfair identity SSO. Send username and password as application/x-www-form-urlencoded together with the X-Application (app key) header; the response returns a session token used as X-Authentication on all exchange calls. Full URL: https://identitysso.betfair.com/api/login . A certificate-based non-interactive login is available at https://identitysso-cert.betfair.com/api/certlogin.'
      servers:
      - url: https://identitysso.betfair.com/api
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login result with session token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /keepAlive:
    post:
      operationId: keepAlive
      tags:
      - Identity
      summary: Extend the session token
      description: 'Refreshes the session token''s inactivity timeout. Send the current session token as the X-Authentication header. Full URL: https://identitysso.betfair.com/api/keepAlive.'
      servers:
      - url: https://identitysso.betfair.com/api
      responses:
        '200':
          description: Keep-alive result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoStatusResponse'
  /logout:
    post:
      operationId: logout
      tags:
      - Identity
      summary: Invalidate the session token
      description: 'Logs out and invalidates the session token. Full URL: https://identitysso.betfair.com/api/logout.'
      servers:
      - url: https://identitysso.betfair.com/api
      responses:
        '200':
          description: Logout result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoStatusResponse'
components:
  schemas:
    SsoStatusResponse:
      type: object
      description: Keep-alive / logout status.
      properties:
        token:
          type: string
        product:
          type: string
        status:
          type: string
        error:
          type: string
    LoginResponse:
      type: object
      description: Interactive login response from identity SSO.
      properties:
        token:
          type: string
          description: The session token (use as X-Authentication).
        product:
          type: string
        status:
          type: string
          enum:
          - SUCCESS
          - FAIL
          - LIMITED_ACCESS
        error:
          type: string
  securitySchemes:
    appKey:
      type: apiKey
      in: header
      name: X-Application
      description: The developer Application Key (delayed or live).
    sessionToken:
      type: apiKey
      in: header
      name: X-Authentication
      description: The session token (ssoid) obtained from identity SSO login.
